<!DOCTYPE html>
<%#> これはHTMLのファイルという意味 <%>
<html>
<%#>HTML要素の中にコードを記述する<%>

  <head>
<%#>head要素の中は表示されない要素を入れる。 <%>

    <title>CoHtmlcss</title>
    <%#>タイトルの記述<%>
    
    <link rel="stylesheet" helf="co.css">
    <%#>link属性はcssと関連づけるために使う。どの関係かというrel属性と外部のファイルであるhref属性と一緒に使用するのが一般的 <%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
